@use "sass:color";
@import "@scss/mixins";
@import "@scss/variables";

.filters-toggle {
  display: inline-block;
  background-color: var(--main-button-primary-bg);
  color: var(--main-text-white);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  border: none;

  &:hover {
    background-color: var(--main-border-blue);
  }
}

.page-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 240px 1fr;

  &.with-fixed-panel {
    grid-template-columns: 1fr;
  }

  &.without-pinned-panel {
    grid-template-columns: 32px 1fr;
  }

  @include mq(maxsm) {
    grid-template-columns: 200px 1fr;
  }

  transition: all 0.3s ease-in-out;
}
