@use "sass:color";
@import "@scss/mixins";

.page-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 240px 1fr;

  &.with-fixed-panel {
    grid-template-columns: 1fr;
  }

  &.without-pinned-panel {
    grid-template-columns: 32px 1fr;
  }

  @include mq(maxsm) {
    grid-template-columns: 200px 1fr;
  }

  transition: all 0.3s ease-in-out;
}
