.related-characters {
  margin-bottom: 2rem;

  .related-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
  }

  .related-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid var(--main-bg-orange);
    border-radius: 0.5rem;
    background-color: var(--main-bg-white);
    transition: transform 0.2s ease-in-out;
    gap: 0.5rem;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    }

    img {
      border-radius: 0.5rem;
    }

    span {
      font-size: 0.9rem;
      color: var(--main-text-primary);
      text-align: center;
    }
  }
}
