@use "../../extend" as *;
@use "sass:color";

%btn-radius {
  border-radius: 8px;
}

.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  transition: all 250ms ease-in-out;
  outline: none !important;
  font-weight: 500;
  cursor: pointer;

  &.primary {
    background-color: var(--main-button-primary-bg);
    color: var(--main-text-white);
    border: 1px solid transparent;

    @extend %btn-radius;

    &:hover:not(:disabled),
    &.active:not(:disabled) {
      background-color: var(--main-bg-primary);
      color: var(--main-text-primary);
      border: 1px solid var(--main-border-primary);
    }
  }

  &.secondary {
    color: var(--main-text-primary);
    border: 1px solid var(--main-border-primary);
    background-color: var(--main-bg-white);

    @extend %btn-radius;

    &:hover:not(:disabled),
    &.active:not(:disabled) {
      background-color: var(--main-button-primary-bg);
      color: var(--main-text-white);
    }
  }

  &.tertiary {
    color: var(--main-text-primary);
    border: 1px solid var(--main-button-tertiary-border);
    background-color: var(--main-bg-primary);

    @extend %btn-radius;

    &:hover:not(:disabled),
    &.active:not(:disabled) {
      background-color: var(--main-button-primary-bg);
      color: var(--main-text-white);
    }
  }

  &.round {
    background-color: var(--main-bg-secondary);
    color: var(--main-text-primary);
    border: none;
    border-radius: 50%;

    @extend %shared-box-shadow;

    &:hover:not(:disabled),
    &.active:not(:disabled) {
      background-color: var(--main-button-primary-bg);
      color: var(--main-text-white);
    }
  }

  &:disabled {
    background-color: var(--main-bg-gray);
    color: var(--main-text-placeholder);
    cursor: not-allowed;
    pointer-events: none;
  }
}
