.autocomplete {
  position: relative;

  input {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-white);
    width: 100%;
    border: 1px solid var(--main-border-primary);
    border-radius: 0.35rem;
    color: var(--main-text-primary);
    font-size: 14px;
    padding: 6px 32px 6px 8px;
    outline: none;
    box-shadow: none;
    line-height: 1;
    height: 32px;

    &::placeholder {
      color: var(--main-text-placeholder);
      font-size: 13px;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
      border-color: var(--main-text-blue);
    }
  }

  & .icon-search,
  & .icon-clear {
    position: absolute;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
  }

  & .icon-clear {
    &:hover {
      cursor: pointer;
      color: var(--main-text-blue);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--main-bg-white);
    border: 1px solid var(--main-border-primary);
    z-index: 1000;
    max-height: 180px;
    overflow-y: auto;
    border-radius: 0.35rem;

    li {
      padding: 0.5rem;
      transition:
        background-color 250ms ease-in-out,
        color 250ms ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--main-bg-blue);
        color: var(--main-text-white);
      }

      &.highlighted {
        background-color: var(--main-bg-blue-light);
        font-weight: bold;
      }
    }
  }
}
