@use "../extend" as *;
@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.header {
  background-color: var(--main-bg-white);
  z-index: 50;
  position: sticky;
  top: 0;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend %shared-box-shadow-light;

  &-title {
    color: var(--main-text-blue);
    font-weight: 700;

    @include fluid-type(14px, 24px, font-size, 320px, 1440px);

    & a {
      color: var(--main-text-blue);
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: color.scale($colorBlue, $lightness: 15%);
      }
    }
  }
}
