@use "../mixins" as *;
@use "../extend" as *;

.page-title {
  color: var(--main-text-primary);

  @include fluid-type(18px, 28px, font-size, 320px, 1600px);
  @extend %text-shadow;
}

.layout {
  display: block;

  & .main {
    display: block;
    padding: 1rem;
  }
}

.main-page-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.page-layout-one-col {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  transition: all 0.3s ease-in-out;
}

.paginator-top {
  display: none;
  margin-top: var(--spacing-md);

  @include mq(maxlg) {
    display: block;
  }
}

.paginator-bottom {
  display: block;
  margin-top: var(--spacing-md);

  @include mq(maxsm) {
    display: none;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.main-card-content {
  display: block;

  &__status,
  &__species {
    font-size: 1rem;
    font-weight: 500;
  }
}

.status {
  display: inline-block;
  margin: 0.4rem 0;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;

  &--alive {
    background-color: var(--main-bg-green);
    color: var(--main-text-white);
  }

  &--dead {
    background-color: var(--main-bg-red);
    color: var(--main-text-white);
  }

  &--unknown {
    background-color: var(--main-bg-silver-haze);
    color: var(--main-text-primary);
  }
}
